body
{
	background: #555555;
}

.logo
{
	background: orange;
	align:center;
	width:100%;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;
}

.section
{
	float: left;
	margin: 20px;
	width: 150px;
	background: orange;
	border-width: 5px;
	border-style: solid;
	border-color: orange;
}

p
{
	padding: 0px;
	text-align: center;
}