.header
{
	font-size: 32px;
	text-align: center;
	max-width: 720px;
	margin: auto;
	background: #FFFF00;
}

.body_container
{
	max-width: 720px;
	margin: auto;
}

.content
{
	font-size: 20px;

	max-width: 600px;
	margin-right: 0px;
	background: #FF00FF;
	float: left;
}

.content p
{
	margin-left: 16px;
	margin-right: 16px;
}

.side
{
	max-width: 120px;
	margin-left: 0px;
	float: left;
	background: #00FF00;
}

.footer
{
	max-width: 720px;
	margin: auto;
	clear: left;
	background: #FF0000;
}